<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <!-- Remote connection to SQL Express on usyouwhp6205605 server -->
        <add name="TestEngineeringConnectionString" connectionString="Data Source=usyouwhp6205605\SQLEXPRESS;Initial Catalog=TestEngineering;Integrated Security=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <!-- Connection to Battery database on the same server -->
        <add name="BatteryConnectionString" connectionString="Data Source=usyouwhp6205605\SQLEXPRESS;Initial Catalog=Battery;Integrated Security=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>