
body 
{
    font-family: Arial;
    font-size: 10pt;
}

.modalBackground 
{
    background-color: Black;
    filter: alpha(opacity=90);
    opacity: 0.8;
}

.modalPopup 
{
    background-color: #fff;
    border: 3px solid #ccc;
    padding: 10px;
}


